<div class="mb-4" 
    style=@($"background-color: {BackgroundColor}; color: {TextColor};")>
    <div class="pa-4">
        <MudText Typo="Typo.h3" Align="Align.Center"><b>@Title</b></MudText>
        <MudText Typo="Typo.h6" Align="Align.Center">@Body</MudText>
    </div>
    <div>
        <ScrollingTagList Items="@ScrollerContent" Color="@ScrollerColor" />
    </div>
</div>

@code{
    [Parameter] public String Title { get; set; } = String.Empty;
    [Parameter] public String Body { get; set; } = String.Empty;
    [Parameter] public List<String> ScrollerContent { get; set; } = new();
    [Parameter] public String TextColor { get; set; } = Colors.Shades.Black;
    [Parameter] public String BackgroundColor { get; set; } = Colors.Gray.Default;
    [Parameter] public String ScrollerColor { get; set; } = Colors.Gray.Lighten1;
}