<section class="cover overlay">
    <MudStack class="mx-16 my-16" 
        Justify="Justify.Center"
        style="width: 60vw; border: 1px greenyellow solid">
            <MudText Typo="Typo.h1"><b>All you need for your study sessions.</b></MudText>
            <MudText Typo="Typo.h4">Get everything you need to do your best work.</MudText>
    </MudStack>
</section>