<section class="cover overlay">
    <MudStack class="mx-16 my-16" 
        Justify="Justify.Center"
        style="width: 60vw;">
        <div class="main-text">
            <MudText Typo="Typo.h1"><b>A new way to learn.</b></MudText>
        </div>
        <div class="main-text subtitle">
            <MudText Typo="Typo.h4">Quickly research, plan and organize your studies. Pencilcase provides all the tools you need to do your best work.</MudText>
        </div>
    </MudStack>
</section>