<section class="cover overlay">
    <MudStack class="mx-10">
        <MudText Typo="Typo.h1"><b>All you need for your study sessions.</b></MudText>
        <MudText Typo="Typo.h4">Get everything you need to do your best work.</MudText>
    </MudStack>
</section>