<MudGrid Justify="Justify.Center">
    <MudItem xs="10">
        <MudChip T="string" Icon="@Icons.Material.Rounded.Article" Size="Size.Large"
            Variant="Variant.Text" Href="/studyguide" style=@($"color: {Color};")><b>Study Guide</b></MudChip>
    </MudItem>
    <MudFlexBreak />
    <MudItem xs="10" Class="mb-8">
        <MudText Typo="Typo.h2" Align="Align.Left"><b>Transform hours of preparation into seconds.</b></MudText>
        <MudText Typo="Typo.h6" Align="Align.Left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent nisi nisi, laoreet eget accumsan eu, egestas vitae sapien. 
            In efficitur congue ante.</MudText>
    </MudItem>
    <MudFlexBreak />
    <MudItem xs="10" md="6" >
        <div class="d-flex justify-space-around">
            <MudImage Src="home-page/example.jpg" ObjectFit="ObjectFit.Cover" 
                Class="flex-shrink overflow-hidden"
                Width="600" ObjectPosition="ObjectPosition.Right"/>
        </div>
    </MudItem>
    <MudItem xs="10" md="4" class="mb-10">
        <MudText Typo="Typo.h4" Align="Align.Right" style=@($"color: {Color};")>
            Follow bite-sized steps. In your way
        </MudText>
        <MudText Typo="Typo.h6" Align="Align.Right">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent nisi nisi, laoreet eget accumsan eu, egestas vitae sapien. In efficitur congue ante.
        </MudText>
        <div style=@($"color: {Color};")>
            <MudText Typo="Typo.h5" Align="Align.Right">Sections</MudText>
            <MudText Typo="Typo.h5" Align="Align.Right">References</MudText>
            <MudText Typo="Typo.h5" Align="Align.Right">Quick-start</MudText>
        </div>
    </MudItem>
</MudGrid>

@code {
    [Parameter] public String Color { get; set; } = Colors.Pink.Accent2;
    [Parameter] public String TextColor { get; set; } = Colors.Shades.Black;
}