<div class="scroller">
    <div class="scrolling-tag-list scroller__inner">
        @foreach (var item in Items){
            <MudText Typo="Typo.h6" Class="mx-4"><b>@item</b></MudText>
        }
    </div>
</div>

<script src="js/scrollingTagList.js"></script>

@code {
    [Parameter] public List<String> Items { get; set; } = new();
}