<div class="scroller">
    <div class="scrolling-tag-list scroller__inner">
        <MudText Typo="Typo.h6" Class="mx-4">text1</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text2</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text3</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text4</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text5</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text6</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text7</MudText>
        <MudText Typo="Typo.h6" Class="mx-4">text8</MudText>
    </div>
</div>

<script src="js/scrollingTagList.js"></script>

@code {

}