<div class="scroller" style="--bkg-color: @Color;">
    <div class="scrolling-tag-list scroller__inner">
        @foreach (var item in Items){
            <MudText Typo="Typo.body1" Class="mx-6 my-1"><b>@item.ToUpper()</b></MudText>
        }
    </div>
</div>

<script src="js/scrollingTagList.js"></script>

@code {
    [Parameter] public List<String> Items { get; set; } = new();
    [Parameter] public String Color { get; set; } = "#e74c3c";

}