.cover {
    background-image: url("home-page/home-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    min-block-size: 100vh;
    place-content: center;
    text-align: center;
    color: rgb(90%, 90%, 90%)
}

.cover h1 {
    color: rgb(255, 255, 255)
}

.overlay {
    border-image: fill 1 linear-gradient(
        rgba(0%, 0%, 0%, 15%), 
        rgba(0%, 0%, 0%, 100%) 95%);
}