@page "/"

@inject NavigationManager Navigation

<PageTitle>pencilcase</PageTitle>

<MudGrid Justify="Justify.Center" Spacing="2">
    <MudItem xs="12">
        <div style="position: relative; display: inline-block;">
            <MudImage Src="home-cover.jpg" ObjectFit="ObjectFit.Cover" Elevation="2" Fluid="true" />
            <div style="position: absolute; top: 10%; left: 15%; 
                        color: white; width: 400pt">
                <MudStack>
                    <MudText Align="Align.Left" Typo="Typo.h1">
                        <b>Level up your habits.</b>
                    </MudText>
                    <MudText Align="Align.Left" Typo="Typo.h4">
                        Get everything you need to do your best work.
                    </MudText>
                </MudStack>
            </div>
        </div>
    </MudItem>
    <MudItem sm="12" md="12" Class="my-8">
        <MudLink Href="/studyguide" Style="text-decoration:none;">
            <FeatureShowcase Title="Study Guides" Style="--primary-color: #B0DBDE; --secondary-color: #8CCBCF;"
                Description="Transform hours of preparation into seconds. No more endless searching for the info you need." 
                Body="@_studyGuideBody" ScrollerContent="@_scrollerContent"/>
        </MudLink>
    </MudItem>
</MudGrid>

@code{
    private String searchBarText = String.Empty;
    
    String _studyGuideBody = "Our cutting-edge tool creates high-quality study guides on any topic you choose, tailored precisely to your preferences. Whether you need a comprehensive overview or a focused review, customize your study guide effortlessly to fit your needs and boost your learning efficiency. Revolutionize the way you study with a guide that's built just for you!";
    List<String> _scrollerContent = ["start learning any subject.", 
        "get ready for your next study session.", 
        "get introductions.", 
        "quickly find references.", 
        "follow bite-sized steps.", 
        "use it in your favorite note-taking app."];

    void SearchBarSubmit(String searchText){
        Console.WriteLine($"Search submit: {searchText}");
    }

}